.sidebar {
    flex: 0.2;
    border-right: 1px solid #e6ecf0;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 20px 0;
}

.sidebar a {
    text-decoration: none;
    color: #1da1f2;
    font-weight: bold;
}
